.left_content{
  background-color: red;
  height: 100vh;
}


.right_content{
  background-color: blue;
  height: 100vh;
}


.middle_content{
  background-color: pink;
  height: 100vh;
}

.top_content {
  background-color: yellow;
}
