<%inherit file="homepage/templates/base.htm" />



  <%block name="menu_items">
    <li class="${ 'active' if(request.dmp_router_page == 'index') else '' }"><a href="/homepage/index">Home</a></li>
    <!-- <li><a href="/homepage/about">About</a></li> -->

  <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">

          %if user.is_authenticated:
            <a class="dropdown-toggle" data-toggle="dropdown">Account
              <span class="caret"></span></a>
              <ul class="dropdown-menu">

                <li><a href="/account/index/">Home</a></li>
                <li><a href="/account/edit/${user.id}/">Edit Account</a></li>
                <li><a href="/account/password/${user.id}/">Change Password</a></li>
                <li><a href="/account/logout">Logout</a></li>

              </ul>
       </li>
   </ul>
        %endif

      <%block name="navbar_right">
      <ul class="nav navbar-nav navbar-right">
              <li class="${ 'active' if(request.dmp_router_page == 'users') else '' }"><a href="/Administrator/products">Settings</a></li>
      </ul>
      </%block>


  </%block>
