<%inherit file="homepage_base.htm" />

  <%block name="navbar_right">
  </%block>

<%block name="middle_content">

<h1>About us </h1>

<p>Summerhays Music Center is the oldest established family music store in Utah. Founded in 1936, our commitment to music education and quality products has made us one of the finest music retail stores in the country.</p>

<p>We support school music programs throughout the valley and want to help you any way we can. At Summerhays Music, we understand that your success is our success. Therefore, we make extraordinary efforts to be sure that the instrument you receive is properly set up, of high quality, and will meet the requirements to provide an enjoyable musical experience. We understand that you are making an investment. Likewise, we want to be sure we are making a reciprocal investment in you, our valued customer.</p>

<p>Music is fun and exciting. Choosing the right instrument for that experience is very important. With one of the largest selections of instruments available anywhere, we will find the one that is just right for you. Please feel free to contact our store with any concerns you might have and we’ll be more than happy to assist with your music needs.</p>

<h2>Accessibility statement</h2>
<p>The following features were added to enhance your experience: </p>
<ul>
  <li>Alt text was added for each images on the homepage</li>
  <li>This page content was restructured to make it easier to read. The page font was increased and font was changed </li>
  <li>A "Skip to main content" link was added at the top of homepage</li>

</ul>
</%block>
