<%inherit file="homepage_base.htm" />


<%block name="middle_content">

    <h2>Q: What will happen when I purchase a template? </h2>

    We will send you a download link by email. Normally you will receive the bought template instantly and the delivery should never take any longer then 5 hours after the purchase is confirmed. We will include all the source files including the FLA and PSD files.

    <h2>Q: Are your templates compatible with a Mac Os, or do they only work on a PC?</h2>

    Our templates are compatible with PC, Mac, and Linux

    <h2>Q: What software do I need to edit the Easy Flash Templates , Gallery Admin Templates and Os-commerce templates. </h2>

    No other software is needed to edit these templates. Adding text, pictures, music can all be done through the easy to use provided tools. Only if you want to change the actual design you need a paint program and Adobe Flash

</%block>
