<%inherit file="homepage_base.htm" />



<%block name="full_content">



<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- <h1>COL 1</h1> -->

Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus purus ac nisl faucibus, non semper orci efficitur. Phasellus orci massa, varius in odio luctus, aliquet accumsan eros. Proin vitae mauris vitae metus pharetra vestibulum sed porttitor turpis. Proin dapibus nisi nec sem viverra, ut pellentesque ipsum convallis. Praesent et augue sapien. Fusce porta tortor a scelerisque cursus. Etiam fermentum mi vel lacinia pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc quis posuere lorem, luctus interdum nunc. Quisque pellentesque tristique lacus, et tincidunt diam consequat quis. Donec odio neque, blandit faucibus lorem eget, blandit commodo nunc. Donec nec vestibulum lacus, et imperdiet nunc. Donec quis suscipit ex. In viverra rutrum turpis sed ultricies. Cras interdum mi id blandit pretium. Vivamus scelerisque nisl at scelerisque consectetur.
<br>
<br>
<figure class="wp-caption">
  <img class="demo img-responsive" src="${STATIC_URL}homepage/media/all_music.jpg" alt="Image" />
  <figcaption class="wp-caption-text">This is a caption text</figcaption>
</figure>
    </div>

    <div class="col-md-4"> <!-- COL 2 -->
      <div class="row"> <!-- ROW 2.1 -->
        <!-- <h1>COL 2</h1> -->
        <figure class="wp-caption">
          <img class="demo img-responsive" src="${STATIC_URL}homepage/media/headphone.png" alt="headphone" />
          <figcaption class="wp-caption-text">This is a caption text</figcaption>
        </figure>

      </div>

      <div class="row"> <!-- ROW 2.2 -->
        <br>
        <figure class="wp-caption">
          <img class="demo img-responsive" src="${STATIC_URL}homepage/media/smallviolin.png" alt="violin" />
          <figcaption class="wp-caption-text">This is a caption text</figcaption>
        </figure>


      </div>


    </div>

    <div class="col-md-4">
        <!-- <h1>COL 1</h1> -->
      <div class="row">  <!-- ROW 3.1 -->

        <figure class="wp-caption">

          <img class="demo img-responsive" src="${STATIC_URL}homepage/media/piano.png" alt="piano" />
          <figcaption class="wp-caption-text">This is a caption text</figcaption>
        </figure>

      </div>

      <div class="row">  <!-- ROW 3.2 -->
        <div class="col-md-6">

          <figure class="wp-caption">
            <img class="demo img-responsive" src="${STATIC_URL}homepage/media/trumpet.png" alt="trumpet" />
            <figcaption class="wp-caption-text">This is a caption text</figcaption>
          </figure>

        </div>

        <div class="col-md-6">
          <figure class="wp-caption">
            <img class="demo img-responsive" src="${STATIC_URL}homepage/media/horn.png" alt="horn" />
            <figcaption class="wp-caption-text">This is a caption text</figcaption>
          </figure>

        </div>

      </div>


    </div>

  </div>


<button id="modallogin_button" type="button" class="btn btn-primary">Modal</button>
</div>

</%block>
