<%inherit file="homepage_base.htm" />


<%block name="top_content">
<div class="top_content text-center">
  TOP CONTENT
</div>


</%block>

<%block name="left_content">
<div class="left_content">
  <h1>Left Column</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et sollicitudin dui. Vivamus at diam sit amet est facilisis ultricies. Fusce interdum nibh a libero viverra interdum. Aenean mollis ut mauris nec blandit. Quisque at nisi tincidunt, euismod orci ac, accumsan sem. Pellentesque accumsan lorem sit amet tincidunt egestas. Aliquam ultrices lectus ut tortor scelerisque egestas. Aenean egestas arcu eu dui mattis accumsan. In felis magna, ullamcorper eu quam at, ornare congue nibh. Aliquam eget mollis nulla.
</div>

</%block>

<%block name="middle_content">
<div class="middle_content">
  <h1>CENTER AREA</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et sollicitudin dui. Vivamus at diam sit amet est facilisis ultricies. Fusce interdum nibh a libero viverra interdum. Aenean mollis ut mauris nec blandit. Quisque at nisi tincidunt, euismod orci ac, accumsan sem. Pellentesque accumsan lorem sit amet tincidunt egestas. Aliquam ultrices lectus ut tortor scelerisque egestas. Aenean egestas arcu eu dui mattis accumsan. In felis magna, ullamcorper eu quam at, ornare congue nibh. Aliquam eget mollis nulla.
</div>

</%block>

<%block name="right_content">
<div class="right_content">
  <h1>right Column</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et sollicitudin dui. Vivamus at diam sit amet est facilisis ultricies. Fusce interdum nibh a libero viverra interdum. Aenean mollis ut mauris nec blandit. Quisque at nisi tincidunt, euismod orci ac, accumsan sem. Pellentesque accumsan lorem sit amet tincidunt egestas. Aliquam ultrices lectus ut tortor scelerisque egestas. Aenean egestas arcu eu dui mattis accumsan. In felis magna, ullamcorper eu quam at, ornare congue nibh. Aliquam eget mollis nulla.
</div>

</%block>
