<%inherit file="homepage_base.htm" />


<%block name="middle_content">



<h1>Conditions of Use</h1>

<p>
Welcome to our online store! MYCOMPANY and its associates provide their services to you subject to the following conditions. If you visit or shop within this website, you accept these conditions. Please read them carefully. ​
PRIVACY

Please review our Privacy Notice, which also governs your visit to our website, to understand our practices.
</p>

<h1>ELECTRONIC COMMUNICATIONS</h1>
<p>
  When you visit MYCOMPANY or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
</p>

<h1>COPYRIGHT</h1>

<p>
    All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of MYCOMPANY or its content suppliers and protected by international copyright laws. The compilation of all content on this site is the exclusive property of MYCOMPANY, with copyright authorship for this collection by MYCOMPANY, and protected by international copyright laws.

</p>
  </%block>
